gslt="{{ (lookup('file', '/home/ansible-files/env.json') | from_json).get('gslt') }}"
mapgroup="{{ (lookup('file', '/home/ansible-files/env.json') | from_json).get('mapgroup') }}"
defaultmap="{{ (lookup('file', '/home/ansible-files/env.json') | from_json).get('defaultmap') }}"
maxplayers="{{ (lookup('file', '/home/ansible-files/env.json') | from_json).get('maxplayers') }}"
tickrate="{{ (lookup('file', '/home/ansible-files/env.json') | from_json).get('tickrate') }}"

gametype="0"
gamemode="1"

port="27015"
clientport="27005"
sourcetvport="27020"
