gslt="{{ (lookup('env.json', '/home/ansible-files/') | from_json).get('gslt') }}"
mapgroup="{{ (lookup('env.json', '/home/ansible-files/') | from_json).get('mapgroup') }}"
defaultmap="{{ (lookup('env.json', '/home/ansible-files/') | from_json).get('defaultmap') }}"
maxplayers="{{ (lookup('env.json', '/home/ansible-files/') | from_json).get('maxplayers') }}"
tickrate="{{ (lookup('env.json', '/home/ansible-files/') | from_json).get('tickrate') }}"

gametype="1"
gamemode="0"

port="27015"
clientport="27005"
sourcetvport="27020"
