gslt="{{ env.gslt }}"
mapgroup="{{ env.map_group }}"
defaultmap="{{ env.default_map }}"
maxplayers="{{ env.maxplayers }}"
tickrate="{{ env.tickrate }}"

gametype="1"
gamemode="0"

port="27015"
clientport="27005"
sourcetvport="27020"
